# Secrets
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/

# Logs and Data
logs/
data/
catalog/
*.txt
*.csv
*.png
*.log

# OS
.DS_Store
Thumbs.db
*.xlsx
*.lnk
5k and 10k mt5/

# Multi-Desk Folders
Desk-5k/
Desk-10k/
Desk-JPY/